
.containerGeral {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.containerTitulo {
    display: flex;
    position: fixed;    
    top: 70px;
    left: 0;
    right: 0;
    z-index: 999;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #1976d2;
    border-radius: 4px;
    width: 100%;
    margin: 10px 0px 10px 0px;
    background-color: #AAC4F5;
}

.pageTitle {
    font-weight: bolder !important;
    font-size: 2rem !important;
    text-align: center;
    color: white;
    padding-top: 4px;
    line-height: 1.5;
}

.matchTitle {
    font-size: 2rem !important;
    font-weight: bold !important;
    color: #064c91 !important;
    text-align: center;
    padding-bottom: 16px;
    line-height: 1 !important;
}

.containerInfo1 {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}


.containerInfo2 {
    display: flex;
    justify-content: left;
    width: 100%;
    gap: 10px;
}


.boxOdds {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 12px;
    border: 2px solid #1976d2;
    border-radius: 4px;
    background-color: white;
}

.oddsTitle {
    font-weight: bold !important;
    color: steelblue;
    font-size: 1.7rem !important;
    text-align: center;
    margin: 0;
    padding-bottom: 8px;
}

.teamsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin: 5px 0px 0px 0px;

}

.oddsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0px 0px 0px;
    width: 100%;
    gap: 5px;
    margin-bottom: 10px;
}

.boxTeamA,
.boxDraw,
.boxTeamB {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    min-width: 0;
}

.boxOddsTeamA,
.boxOddsDraw,
.boxOddsTeamB {
    text-align: center;
    border: 2px solid #1976d2;
    border-radius: 4px;
    background-color: #AAC4F5;
    /* color: white; */
    color: #064c91 !important;
    padding: 5px 25px;
    font-weight: 900 !important;
}


.boxVencedor {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
    height: 230px;
    padding: 16px;
    border: 2px solid steelblue !important;
    border-radius: 4px;
    background-color:#e6e2e2 !important;
    margin-top: 100px;
}

.containerInfo3 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 16px;
}

.boxInfo {
    display: flex;
    height: auto;
    flex-direction: column;
    border: 2px solid #1976d2;
    border-radius: 8px;
    padding: 16px;
    background-color: white;
    height: auto;           
    flex: 0 0 auto;  
}

.boxEventos {
    display: flex;
    height: auto;
    flex-direction: column;
    border: 2px solid #1976d2;
    border-radius: 8px;
    padding: 16px;
    background-color: white;
    height: auto;           
    flex: 0 0 auto;  
}


.boxServico {
    display: flex;
    height: auto;
    flex-direction: column;
    border: 2px solid #1976d2;
    border-radius: 8px;
    padding: 16px;
    background-color: white;
    height: auto;        
    flex: 0 0 auto;  
}

.boxEscalacoes {
    display: flex;
    height: auto;
    flex-direction: column;
    border: 2px solid #1976d2;
    border-radius: 8px; 
    padding: 16px;
    background-color: white;
    height: auto;        
    flex: 0 0 auto;  
}

.boxPreview {
    display: flex;
    flex-direction: column;
    border: 2px solid #1976d2;
    border-radius: 8px;
    padding: 16px;
    background-color: white;
    flex: 1;
    margin-top: 100px;
    height: auto;        
    flex: 0 0 auto;  
    margin-bottom: 10px;
}

.sectionTitle {
    font-weight: bold;
    color: steelblue;
    padding-bottom: 8px;
    /* pb: 1 */
    font-size: 1.5rem !important;
    text-align: center;
    font-weight: bold !important;
}

.divider {
    line-height: 1.6;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 8px;
    border-bottom: 2px solid #1976d2 !important; 
    text-align: center;
}

.boxIA {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 230px;
    border: 2px solid #1976d2;
    border-radius: 8px;
    padding: 16px;
    background-color: white;
    /* flex: 1; */
    margin-top: 100px;
}

.list {
    max-height: auto;
    overflow-y: auto;
    width: 100%;
}

.previewTitle {
    font-weight: bold !important;
    color:  #064c91;
    font-size: 1.7rem !important;
    text-align: left;
    margin: 0;
    padding-bottom: 8px;
    padding-top: 8px;
}

.avatar {
    width: 120px !important;
    height: 120px !important;
    border-radius: 0 !important;
    padding-bottom: 16px;
}

.colunaEsquerda {
    width: 60%;
}

.colunaDireita {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linhaDuasCaixas {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.caixa20 {
    width: 50%;
}
