
.containerGeral {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.containerTitulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #1976d2;
    border-radius: 4px;
    width: 100%;
    margin: 10px 0px 0px 0px;
    background-color: #AAC4F5;
}

.pageTitle {
    font-weight: bolder !important;
    font-size: 2rem !important;
    text-align: center;
    color: white;
    padding-top: 4px;
    line-height: 1.5;
}

.matchTitle {
    font-size: 2rem !important;
    font-weight: bold !important;
    color: #064c91 !important;
    text-align: center;
    padding-bottom: 16px;
    line-height: 1 !important;
}

.containerInfo1 {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.boxOdds {
    display: flex;
    flex-direction: column;
    width: 97%;
    padding: 12px 16px;
    border: 2px solid #1976d2;
    border-radius: 4px;
    background-color: white;
}

.oddsTitle {
    font-weight: bold !important;
    color:  #064c91;
    font-size: 1.7rem !important;
    text-align: center;
    margin: 0;
    padding-bottom: 8px;
}

.teamsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
    margin: 0;

}

.oddsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
}

.boxTeamA,
.boxDraw,
.boxTeamB {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    min-width: 0;
}

.boxOddsTeamA,
.boxOddsDraw,
.boxOddsTeamB {
    text-align: center;
    border: 2px solid #1976d2;
    border-radius: 4px;
    background-color: #AAC4F5;
    /* color: white; */
    color: #064c91 !important;
    padding: 5px 25px;
    font-weight: 900 !important;
}


.boxVencedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: red;
    width: 50%;
    padding: 8px 0;
    border: 2px solid #1976d2;
    border-radius: 4px;
    background-color: white;
    font-size: 2rem !important;
    font-weight: bold !important;
}

.containerInfo2 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 16px;
}

.boxInfo {
    display: flex;
    flex-direction: column;
    border: 2px solid #1976d2;
    border-radius: 8px;
    padding: 16px;
    background-color: white;
    flex: 1;
}


.sectionTitle {
    font-weight: bold;
    color: steelblue;
    padding-bottom: 8px;
    /* pb: 1 */
    font-size: 1.5rem !important;
    text-align: center;
    font-weight: bold !important;
}

.divider {
    line-height: 1.8;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 8px;
    /* mb: 1 */
}

.list {
    max-height: auto;
    overflow-y: auto;
    width: 100%;
}