.boxInfo {
    display: flex;
    flex-direction: column;
    border: 2px solid #1976d2;
    border-radius: 8px;
    padding: 16px;
    background-color: white;
    flex: 1;
    margin-top: 12px;   
    width: auto;
}

.sectionTitle {
    font-weight: bold;
    color: #064c91;
    padding-bottom: 8px;
    font-size: 1.5rem !important;
    text-align: center;
    font-weight: bold !important;
}

.divider {
    line-height: 1.8;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 8px;
    border-bottom: 3px solid #1976d2 !important; 
}

.list {
    max-height: auto;
    overflow-y: auto;
    width: 100%;
}