.containerGeral {
    display: flex;
    justify-content: center;
}

.containerTitulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #1976d2;
    border-radius: 4px;
    width: 93%;
    margin: 0 auto;
    background-color: #AAC4F5;
}

.title {
    font-weight: 900 !important;
    font-size: 2rem !important;
    text-align: center;
    color: #1976d2 !important;
    padding: 8px;
}

.containerCards {
    justify-content: space-evenly;
}

.cardItem {
    display: flex;
    justify-content: center;
}

.card {
    padding: 16px;
    transition: 0.2s;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 16px;
    background-color: #AAC4F5 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.card:hover {
    transform: scale(1.05);
    border: 1px solid #1976d2;
    background-color: #b8cef7 !important;
}

.cardTitle {
    font-weight: 900 !important;
    color: #185491 !important;
    text-transform: uppercase;
    text-align: center;
}

.cardText {
    color: black;
}

.searchBar {
    width: 93%;
    padding: 8px;
    margin: 8px;
}