.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: whitesmoke;
    border-bottom: 2px solid #1976d2;
    font-family: Roboto;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menuItem {
    text-decoration: none;
    color: #1976d2;
    font-weight: 500;
    font-size: 1rem;
    transition: 0.2s ease;
}

.userInfo {
    color: #1976d2;
    font-weight: 500;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userLabel {
    margin: 0;
}

.spacer {
    height: 80px;
}